body {
  height: 100%;     
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 2rem;  
}


.btn{

  height: 35px;
  font-weight: bold;
  padding: 10px;
  background-color:#5cb85c;
  border: 0px;
  color: #ffffff;
}
.btn:hover {
  background-color: #0275d8;
}
ul{  
  list-style: none;
}

input{

  border-radius: 5px;
  height: 30px;


}

#divGrid{
  display: flex;
}

span{

  font-weight: bold;
  color: red;
}